@page
@model CS395SI_Spring2023_Group1.Pages_Managers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spring2026_Group1_Manager</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Manager.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Manager.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Manager.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Manager.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Manager.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Manager.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Manager.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Manager.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Spring2026_Group1_Manager.ManagerID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
