@page
@model CS395SI_Spring2023_Group1.Pages_Managers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spring2026_Group1_Manager[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2026_Group1_Manager[0].HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2026_Group1_Manager[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2026_Group1_Manager[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Spring2026_Group1_Manager) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ManagerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ManagerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ManagerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
