@page
@model CS395SI_Spring2023_Group1.Pages_Strikes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spring2026_Group1_Strike</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Strike.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Strike.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Strike.FiledDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Strike.FiledDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Strike.ReviewStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Strike.ReviewStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Strike.ReviewDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Strike.ReviewDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Strike.StudentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Strike.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Strike.FiledBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Strike.FiledBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2026_Group1_Strike.ManagerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2026_Group1_Strike.ManagerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Spring2026_Group1_Strike.StrikeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
